.table_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.table {
  font-family: Arial, sans-serif;
  width: 50%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
  padding-right: 100px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.p-input-icon-right {
  margin-right: 20px;
}

.p-input-icon-right-input {
  padding: 10px;
}

.App {
  margin: 1rem 0;
  padding-top: 2%;
}

input {
  padding: 10px;
  font-size: 1rem;
  outline: none;
  border: 1px solid #ccc;
}

.App > input {
  width: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
